<div class="content animated fadeIn">
	<h1>Item Registration</h1>
	<hr>
	<div class="form-control">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Date</p>
					</div>
					<div class="col-md-7 ">
						<p class="small form-text">{{today | date:'d MMM yyyy'}}</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Branch</p>
					</div>
					<div class="col-md-7 ">
						<p class="small form-text">{{user.relationships.branch.name}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Staff</p>
					</div>
					<div class="col-md-7">
						<p class="small form-text">{{user.attributes.name}}</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Address</p>
					</div>
					<div class="col-md-7 ">
						<p class="small form-text">{{user.relationships.branch.address}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Supplier</p>
					</div>
					<div class="col-md-7 ">
						<select ng-init="supplier = companies[0]" 
								ng-model="supplier"
								ng-options="company.attributes.name for company in companies"
								class="input-lg">
						</select>
						<i class="fa fa-caret-down caret-select"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Type</th>
							<th>Cost per unit</th>
							<th>Qty.</th>
							<th>Option</th>
						</tr>
					</thead>
					<tbody>
						<tr style="cursor: default;"class="animated fadeIn" ng-show="items.length == 0">
							<td class="text-center" colspan="6">Please add the items</td>
						</tr>
						<tr class="animated fadeIn" ng-repeat="item in items">
							<td class="bold text-center narrow">{{ $index + 1 }}</td>
							<td>{{ item.name }}</td>
							<td>{{ item.type.attributes.name }}</td>
							<td>{{ item.cost }}</td>
							<td>{{ item.quantity }}</td>
							<td><i ng-click="deleteItem($index)" class="fa fa-close"></i></td>
						</tr>
					</tbody>
				</table>
				<button ng-click="completeItems(supplier,items,user)" class="btn btn-lg btn-success u__margin20 right">complete registration</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Item Name</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newItem.name" class="input-lg" type="text" placeholder="Enter the name">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Cost per Unit</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newItem.cost" class="input-md" type="text" placeholder="3xxxx">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Item Type</p>
					</div>
					<div class="col-md-7 ">
						<select ng-init="newItem.type = itemTypes[0]" 
								ng-model="newItem.type"
								ng-options="type.attributes.name for type in itemTypes"
								class="input-lg">
						</select>
						<i class="fa fa-caret-down caret-select"></i>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Quantity</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newItem.quantity" class="input-md" type="text" placeholder="3xxxx">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<div class="row">
					<div class="col-md-7 col-md-offset-5">
						<button ng-click="addItem(newItem)" class="btn btn-md btn-success">Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>