<div class="content animated fadeIn">
	<h1>Stock Adjustment</h1>
	<hr>
	<div class="form-control">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Date</p>
					</div>
					<div class="col-md-7 ">
						<p class="small form-text">{{ vm.today | date:'d MMM yyyy' }}</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Branch</p>
					</div>
					<div class="col-md-7 ">
						<p class="small form-text">{{ vm.user.relationships.branch.name}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Staff</p>
					</div>
					<div class="col-md-7">
						<p class="small form-text">{{ vm.user.attributes.name }}</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Address</p>
					</div>
					<div class="col-md-7 ">
						<p class="small form-text">{{ vm.user.relationships.branch.address}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Filter</p>
					</div>
					<div class="col-md-7 ">
						<input type="text" ng-model="searchFilter" class="input-lg" placeholder="Type to filter the items" >
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Type</th>
							<th>Cost per unit</th>
							<th>Qty.</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in vm.items | filter: searchFilter">
							<td class="bold text-center narrow">{{ $index + 1 }}</td>
							<td>{{ item.attributes.name }}</td>
							<td>{{ item.relationships.type.name }}</td>
							<td>{{ item.attributes.cost }}</td>
							<td class="narrow"><input ng-change="item.update = true" type="text" ng-model="item.attributes.quantity" class="input-md" placeholder="1500" ></td>
							<td class="narrow text-center">
								<div ng-show="item.update" class="label label-warning">change</div>
								<div ng-hide="item.update" class="label label-default">same</div>
							</td>
						</tr>
					</tbody>
				</table>
				<button ng-click="vm.stockAdjust(vm.items)" class="btn btn-lg btn-success u__margin20 right">complete adjustment</button>
			</div>
		</div>
		<hr>
	</div>
</div>