<style>
	.sidebar {
		display: none;
	}
</style>

<div class="content content--member animated fadeIn">
	<p class="topic">member</p>
	<hr>
	<form ng-submit="login(user)" class="form-control">
		<div class="row">
			<div class="col-md-12">
				<input type="text" ng-model="user.email" class="center-block input-lg" placeholder="Email" ng-required>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<input type="password" ng-model="user.password" class="center-block input-lg" placeholder="Password" ng-required>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<input type="submit" value="Login" class="btn btn-md btn-full btn-primary-border">
			</div>
		</div>
	</form>
</div>