<div class="content animated fadeIn">
	<h1>Profile</h1>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-4 text-right">
				<p class="small bold form-text">Name</p>
			</div>
			<div class="col-md-7">
				<p class="small form-text">{{user.attributes.name}}</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-4 text-right">
				<p class="small bold form-text">Branch Name</p>
			</div>
			<div class="col-md-7">
				<p class="small form-text">{{user.relationships.branch.name}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-4 text-right">
				<p class="small bold form-text">Email</p>
			</div>
			<div class="col-md-7">
				<p class="small form-text">{{user.attributes.email}}</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-4 text-right">
				<p class="small bold form-text">Branch Address</p>
			</div>
			<div class="col-md-7">
				<p class="small form-text">{{user.relationships.branch.address}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-4 text-right">
				<p class="small bold form-text">Position</p>
			</div>
			<div class="col-md-7">
				<p class="small form-text">{{user.relationships.position.name}}</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 text-right">
			<button ng-click="logout()" class="btn btn-md btn-danger">LOGOUT</button>
		</div>
	</div>
</div>