<style>
	.color-group {
		display: inline-block;
		width: 25%;
		margin: 20px;
		/*margin-right: 20px;*/
	}
</style>

<div class="content animated fadeIn">
	<p class="topic">Color Palette</p>
	<hr>
	<div class="color-group">
		<div style="background: rgb(69,156,255)" class="profile-img"></div>
		<div style="vertical-align: 0px" class="profile-detail">rgb(69,156,255)</div>
	</div>
	<div class="color-group">
		<div style="background: rgb(68,219,93)" class="profile-img"></div>
		<div style="vertical-align: 0px" class="profile-detail">rgb(68,219,93)</div>
	</div>
	<div class="color-group">
		<div style="background: rgb(255,198,0)" class="profile-img"></div>
		<div style="vertical-align: 0px" class="profile-detail">rgb(255,198,0)</div>
	</div>
	<div class="color-group">
		<div style="background: rgb(231,76,60)" class="profile-img"></div>
		<div style="vertical-align: 0px" class="profile-detail">rgb(231,76,60)</div>
	</div>
	<div class="color-group">
		<div style="background: rgb(32,43,64)" class="profile-img"></div>
		<div style="vertical-align: 0px" class="profile-detail">rgb(32,43,64)</div>
	</div>
	<div class="color-group">
		<div style="background: rgb(44,62,80)" class="profile-img"></div>
		<div style="vertical-align: 0px" class="profile-detail">rgb(44,62,80)</div>
	</div>
	<div class="color-group">
		<div style="background: rgb(115,134,153)" class="profile-img"></div>
		<div style="vertical-align: 0px" class="profile-detail">rgb(115,134,153)</div>
	</div>
	<div class="color-group">
		<div style="background: rgb(212,212,212)" class="profile-img"></div>
		<div style="vertical-align: 0px" class="profile-detail">rgb(212,212,212)</div>
	</div>
	<div class="color-group">
		<div style="background: rgb(242,242,242)" class="profile-img"></div>
		<div style="vertical-align: 0px" class="profile-detail">rgb(242,242,242)</div>
	</div>
	</br></br></br>
	<p class="topic">Typography</p>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<h1>Heading1</h1>
			<h2>Heading2</h2></br>
			<h3>Heading3</h3></br>
			<h4>Heading4</h4></br>
			<h5>Heading5</h5></br>
			<h6>Heading6</h6></br>
		</div>
		<div class="col-md-6">
			</br></br>
			<p>Paragraph, Text</p></br>
			<p class="small">Paragraph with 16px</p></br>
			<p class="bold">Paragraph with bold</p></br>
			<p class="topic">Topic text</p></br>
			<p class="text-default">Default Text</p></br>
			<p class="text-primary">Primary Text</p></br>
			<p class="text-warning">Warning Text</p></br>
			<p class="text-danger">Danger Text</p></br>

		</div>

	</div>
	</br></br>

	<p class="topic">Button</p>
	<hr>
	<div class="row">
		<div class="col-md-6 text-center">
			<button class="btn btn-lg btn-default">Default Large</button></br></br>
			<button class="btn btn-lg btn-primary">Primary Large</button></br></br>
			<button class="btn btn-lg btn-warning">Warning Large</button></br></br>
			<button class="btn btn-lg btn-danger">Danger Large</button></br></br>
			<button class="btn btn-lg btn-success">Success Large</button></br></br>
		</div>
		<div class="col-md-6 text-center">
			<button class="btn btn-lg btn-default-border">Default Large</button></br></br>
			<button class="btn btn-lg btn-primary-border">Primary Large</button></br></br>
			<button class="btn btn-lg btn-warning-border">Warning Large</button></br></br>
			<button class="btn btn-lg btn-danger-border">Danger Large</button></br></br>
			<button class="btn btn-lg btn-success-border">Success Large</button></br></br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 text-center">
			<button class="btn btn-md btn-default">Default Small</button></br></br>
			<button class="btn btn-md btn-primary">Primary Small</button></br></br>
			<button class="btn btn-md btn-warning">Warning Small</button></br></br>
			<button class="btn btn-md btn-danger">Danger Small</button></br></br>
			<button class="btn btn-md btn-success">Success Small</button></br></br>
		</div>
		<div class="col-md-6 text-center">
			<button class="btn btn-md btn-default-border">Default Small</button></br></br>
			<button class="btn btn-md btn-primary-border">Primary Small</button></br></br>
			<button class="btn btn-md btn-warning-border">Warning Small</button></br></br>
			<button class="btn btn-md btn-danger-border">Danger Small</button></br></br>
			<button class="btn btn-md btn-success-border">Success Small</button></br></br>
		</div>
	</div>
	</br></br>

	<p class="topic">Label</p>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="label label-default">default</div>
			<div class="label label-primary">primary</div>
			<div class="label label-warning">warning</div>
			<div class="label label-danger">danger</div>
			<div class="label label-success">success</div>
		</div>
	</div>
	</br></br>

	<p class="topic">Table</p>
	<hr>
	<table>
		<thead>
			<tr>
				<th>narrow</th>
				<th>primary head</th>
				<th>more</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th></th>
				<th>Secondary head</th>
				<th>Text</th>
				<th></th>
				<th>Label</th>
				<th>Icon</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="bold narrow text-center">1</td>
				<td class="bold">bold</td>
				<td>normal</td>
				<td class="underline">underline</td>
				<td><div class="label label-default">canceled</div></td>
				<td><i class="fa fa-edit"></i> <i class="fa fa-close"></i></td>
			</tr>
			<tr>
				<td class="bold narrow text-center">2</td>
				<td class="bold">bold</td>
				<td>normal</td>
				<td class="underline">underline</td>
				<td><div class="label label-warning">pending</div></td>
				<td><i class="fa fa-edit"></i> <i class="fa fa-close"></i></td>
			</tr>
			<tr>
				<td class="bold narrow text-center">3</td>
				<td class="bold">bold</td>
				<td>normal</td>
				<td class="underline">underline</td>
				<td><div class="label label-success">delivered</div></td>
				<td><i class="fa fa-edit"></i> <i class="fa fa-close"></i></td>
			</tr>
			<tr>
				<td class="bold narrow text-center">4</td>
				<td class="bold">bold</td>
				<td>normal</td>
				<td class="underline">underline</td>
				<td><div class="label label-danger">reject</div></td>
				<td><i class="fa fa-edit"></i> <i class="fa fa-close"></i></td>
			</tr>
		</tbody>
	</table>
	</br></br>

	<p class="topic">Form</p>
	<hr>
	<div class="row form-control">
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-5 text-right">
					<p class="small bold form-text">Text large</p>
				</div>
				<div class="col-md-7">
					<input type="text" class="input-lg" placeholder="Placehodler">
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-5 text-right">
					<p class="small bold form-text">Date large</p>
				</div>
				<div class="col-md-7">
					<input type="date" class="input-lg" placeholder="Placehodler">
				</div>
			</div>
		</div>
	</div>
	<div class="row form-control">
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-5 text-right">
					<p class="small bold form-text">Text small</p>
				</div>
				<div class="col-md-7">
					<input type="text" class="input-md" placeholder="Placehodler">
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-5 text-right">
					<p class="small bold form-text">Date small</p>
				</div>
				<div class="col-md-7">
					<input type="date" class="input-md" placeholder="Placehodler">
				</div>
			</div>
		</div>
	</div>
	<div class="row form-control">
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-5 text-right">
					<p class="small bold form-text">Select large</p>
				</div>
				<div class="col-md-7">
					<select class="input-lg">
						<option value="1">Value1</option>
						<option value="2">Value2</option>
					</select>
					<i class="fa fa-caret-down caret-select"></i>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-5 text-right">
					<p class="small bold form-text">Select Button</p>
				</div>
				<div class="col-md-7">
					<button ng-click="select = !select" ng-class="{'btn-primary': select,'btn-primary-border': !select}" class="btn btn-md">Option 1</button>
					<button ng-click="select = !select" ng-class="{'btn-primary': !select,'btn-primary-border': select}" class="btn btn-md">Option 2</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row form-control">
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-5 text-right">
					<p class="small bold form-text">Select small</p>
				</div>
				<div class="col-md-7">
					<select class="input-md">
						<option value="1">Value1</option>
						<option value="2">Value2</option>
					</select>
					<i class="fa fa-caret-down caret-select select-md"></i>
				</div>
			</div>
		</div>
	</div>
	</br></br>

	<p class="topic">Special Menu Box</p>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<div class="menu-box">
				<i class="fa fa-car"></i>
				<!-- <img src="./assets/icons/time.svg" alt=""> -->
				<br>
				by car
			</div>
		</div>
		<div class="col-md-4">
			<div class="menu-box">
				<i class="fa fa-truck"></i>
				<!-- <img src="./assets/icons/item.svg" alt=""> -->
				<br>
				by truck
			</div>
		</div>
		<div class="col-md-4">
			<div class="menu-box">
				<i class="fa fa-plane"></i>
				<!-- <img src="./assets/icons/status.svg" alt=""> -->
				<br>
				by plane
			</div>
		</div>
	</div>
</div>