.menu-box {
	display: block;
	cursor: pointer;
	width: 100%;
	height: 250px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: $font-family-secondary;
	font-weight: $font-weight-heavy;
	border-radius: 3px;
	background-color: transparent;
	border: 3px solid $color-primary;
	color: $color-primary;
	.fa {
    font-size: 100px;
    margin-top: 37px;
    display: block;
	}
	img {
		width: 40%;
		margin-top: 27px;
	}
	&.active,
	&:hover {
		color: $color-white;
		background-color: $color-primary;
	}
}
a.menu-box {
	display: block;
	text-decoration: none;
}