<ul class="items__list">
	<li class="item" ng-repeat="item in vm.items">
		<div class="item--image" style="background: url('{{item.attributes.image_url}}');"></div>
		<div class="u__overlay">
			<div class="u__overlay--type">
				<img src="./assets/images/cat_landing/facebook-deselect-icon.png" alt="">
			</div>
		</div>
		<div class="item--image--hover">
			<div class="item--date">
					{{item.attributes.original_created_time | date : 'MMM, d yyyy'}}
			</div>
			<div class="item--image" style="background:url('{{item.attributes.image_url}}')" >
			</div>
			<div class="u__overlay">
				<div class="item--description">
					{{item.attributes.text | limitTo:20}}
				</div>
			</div>
			<div class="item--footer">
				<div class="fa fa-thumbs-up"></div> 27 <div class="fa fa-heart"></div> comment 27
			</div>
		</div>
	</li>
</ul>