<div class="content animated fadeIn">
	<h1>Company</h1>
	<button ui-sref="admin" class="btn btn-md btn-primary-border btn-goback-top">Go Back</button>
	<hr>
	<div class="form-control">
		<div class="row">
			<div class="col-md-12">
				<table ng-class="{ 'loading': loading }">
					<thead>
						<tr>
							<th class="text-center">ID</th>
							<th>company Name</th>
							<th>company adress</th>
							<th>company Tel.</th>
							<th>type</th>
							<th>option</th>
						</tr>
					</thead>
					<tbody>
						<tr class="animated fadeIn" ng-repeat="company in companies | orderBy:'attributes._id'">
							<td class="bold text-center narrow">
								{{ company.attributes._id }}
							</td>
							<td>
								<input ng-change="company.update = true" type="text" class="input-md"placeholder="Company name" ng-model="company.attributes.name">
							</td>
							<td>
								<input ng-change="company.update = true" type="text" class="input-lg"placeholder="Company address" ng-model="company.attributes.address">
							</td>
							<td>
								<input ng-change="company.update = true" type="text" class="input-md"placeholder="Company tel." ng-model="company.attributes.telephone">
							</td>
							<td>
								<select ng-change="company.update = true"
										ng-model="company.relationships.companyType"
										ng-options="type.attributes.name for type in companiesType track by type.attributes.name"
										class="input-md">
								</select>
								<i class="fa fa-caret-down caret-select select-md"></i>
							</td>
							<td style="width: 170px;">
								<button ng-class="{'btn-success-border':company.update}" class="btn btn-sm btn-default animated fadeIn" ng-click="company.update && updateCompany(company)">update</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Company name</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newCompany.name" class="input-lg" type="text" >
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Company tel.</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newCompany.telephone" class="input-lg" type="text" >
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Company Address</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newCompany.address" class="input-lg" type="text" >
					</div>
				</div>
			</div>
			<div class="col-md-6 text-right">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Company type</p>
					</div>
					<div class="col-md-7 text-left">
						<select ng-init="newCompany.type = companiesType[0]" 
								ng-model="newCompany.type"
								ng-options="type.attributes.name for type in companiesType"
								class="input-lg">
						</select>
						<i class="fa fa-caret-down caret-select"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<div class="row">
					<div class="col-md-7 col-md-offset-5">
						<button ng-click="addCompany(newCompany)" class="btn btn-md btn-success">Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		
