<div class="content animated fadeIn">
	<h1>Staff</h1>
	<hr>
	
	<div class="row">
	<div class="col-md-12">
	<table>
					<thead>
						<tr>
							<th></th>
							<th>item ID</th>
							<th>item code</th>
							<th>item name</th>
							<th>type id</th>
							<th>cost per unit</th>
							<th>Option</th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td class="bold text-center narrow">1</td>
							<td><input type="text" class="input-lg"placeholder="Item ID" ></td>
							<td><input type="text" class="input-lg"placeholder="Item code" ></td>
							<td><input type="text" class="input-lg"placeholder="Item name" ></td>
							<td><input type="text" class="input-lg"placeholder="Type ID" ></td>
							<td><input type="text" class="input-lg"placeholder="Cost per unit" ></td>
							<td> <i ng-click="deleteItem($index)" class="fa fa-close"></i></td>
							

							
						</tr>
						<tr>
							<td class="bold text-center narrow">2</td>
							<td><input type="text" class="input-lg"placeholder="Item ID" ></td>
							<td><input type="text" class="input-lg"placeholder="Item code" ></td>
							<td><input type="text" class="input-lg"placeholder="Item name" ></td>
							<td><input type="text" class="input-lg"placeholder="Type ID" ></td>
							<td><input type="text" class="input-lg"placeholder="Cost per unit" ></td>
							<td> <i ng-click="deleteItem($index)" class="fa fa-close"></i></td>
							

							
						</tr>
					</tbody>

				</table>
				<button  class="btn btn-lg btn-success u__margin20 right">complete registration</button>

	</div>
	</div>
	<br>
<hr>
<br>
	<div>
	<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Item ID</p>
					</div>
					<div class="col-md-7 ">
						<input class="input-lg" type="text" >
					</div>
				</div>
			</div>
	

	
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Item code</p>
					</div>
					<div class="col-md-7 ">
						<input class="input-lg" type="text" >
					</div>
				</div>
			</div>
	</div>
	<br>
	<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Item name</p>
					</div>
					<div class="col-md-7 ">
						<input class="input-lg" type="text" >
					</div>
				</div>
			</div>
	


			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Type id</p>
					</div>
					<div class="col-md-7 ">
						<input class="input-lg" type="text" >
					</div>
				</div>
			</div>
	</div>
	<br>
	<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Cost per unit</p>
					</div>
					<div class="col-md-7 ">
						<input class="input-lg" type="text" >
					</div>
				</div>
			</div>
	
	</div>
		
	

		


		<div class="row">
		<div class="col-md-6 col-md-offset-6">
				<div class="row">
					<div class="col-md-7 col-md-offset-5">
						<button  class="btn btn-md btn-success u__margin20 ">Add item</button>
					</div>
				</div>
			</div>
	</div>









</div>

		
