<div class="content animated fadeIn">
	<h1>Position</h1>
	<button ui-sref="admin" class="btn btn-md btn-primary-border btn-goback-top">Go Back</button>
	<hr>
	<div class="form-control">
		<div class="row">
			<div class="col-md-12">
				<table ng-class="{ 'loading': loading }">
					<thead>
						<tr>
							<th class="text-center">ID</th>
							<th>name</th>
							<th>option</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="position in positions">
							<td class="bold text-center">
								{{ position.attributes._id }}
							</td>
							<td>
								<input ng-change="position.update = true" type="text" class="input-lg" placeholder="Position Name" ng-model="position.attributes.name">
							</td>
							<td style="width: 170px;">
								<button ng-click="deletePosition(position)" class="btn btn-sm btn-danger">delete</button>
								<button ng-show="position.update" class="btn btn-sm btn-success-border animated fadeIn" ng-click="updatePosition(position)">update</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Position Name</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newPosition.name" class="input-lg" type="text" placeholder="Enter the name">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-7 col-md-offset-5">
						<button ng-click="addPosition(newPosition)" class="btn btn-md btn-success">Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		
