<div class="content animated fadeIn">
	<h1>Staff</h1>
	<button ui-sref="admin" class="btn btn-md btn-primary-border btn-goback-top">Go Back</button>
	<hr>
	<div class="form-control">
		<div class="row">
			<div class="col-md-12">
				<table ng-class="{ 'loading': vm.loading }">
					<thead>
						<tr>
							<th class="text-center">ID</th>
							<th>name</th>
							<th>email</th>
							<th>position</th>
							<th>branch</th>
							<th>option</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="staff in vm.staffs">
							<td class="bold text-center narrow">
								{{ staff.attributes._id }}
							</td>
							<td class="narrow">
								<input ng-change="staff.update = true" type="text" class="input-md" placeholder="Staff name" ng-model="staff.attributes.name">
							</td>
							<td>
								<input ng-change="staff.update = true" type="text" class="input-lg" placeholder="Staff email" ng-model="staff.attributes.email">
							</td>
							<td>
								<select ng-change="staff.update = true"
										ng-model="staff.relationships.position"
										ng-options="position.attributes.name for position in vm.positions track by position.attributes.name"
										class="input-md">
								</select>
								<i class="fa fa-caret-down caret-select select-md"></i>
							</td>
							<td>
								<select ng-change="staff.update = true"
										ng-model="staff.relationships.branch"
										ng-options="branch.attributes.name for branch in vm.branches track by branch.attributes.name"
										class="input-md">
								</select>
								<i class="fa fa-caret-down caret-select select-md"></i>
							</td>
							<td style="width: 170px;">
								<button ng-class="{'btn-success-border':staff.update}" class="btn btn-sm btn-default animated fadeIn" ng-click="staff.update && vm.updateUser(staff)">update</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Staff Name</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newUser.name" class="input-lg" type="text" placeholder="Enter the name">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Email</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newUser.email" class="input-lg" type="text" placeholder="3xxxx">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Position</p>
					</div>
					<div class="col-md-7 ">
						<select ng-init="newUser.position = vm.positions[0]" 
								ng-model="newUser.position"
								ng-options="position.attributes.name for position in vm.positions"
								class="input-lg">
						</select>
						<i class="fa fa-caret-down caret-select"></i>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Password</p>
					</div>
					<div class="col-md-7 ">
						<input ng-model="newUser.password" class="input-lg" type="text" placeholder="3xxxx">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5 text-right">
						<p class="small bold form-text">Branch</p>
					</div>
					<div class="col-md-7 ">
						<select ng-init="newUser.branch = vm.branches[0]" 
								ng-model="newUser.branch"
								ng-options="branch.attributes.name for branch in vm.branches"
								class="input-lg">
						</select>
						<i class="fa fa-caret-down caret-select"></i>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-7 col-md-offset-5">
						<button ng-click="vm.addUser(newUser)" class="btn btn-md btn-success">Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

		
